@font-face
{
    font-family: Gothic;
    src: url("/static/fonts/gothic.ttf");
}

body
{
    font-family: Gothic;
    color: white;
    background: url('/static/images/back1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;
}

#progressContainer
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 57%;
    margin-bottom: 200px;
    width: 800px;
    height: 200px;
    padding-top: 10px;
    border-top: solid rgba(0, 0, 200, 0.7) 1px;
    border-bottom: solid rgba(0, 0, 200, 0.7) 1px;
}

#progressContainer > h1
{
    text-align: center;
    width: 100%;
}

#progressContainer > span
{
    margin-left: 200px;
    width: 400px;
}

#progressContainer > progress
{
    border: none;
    width: 400px;
    height: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 5px;
}

#dataContainer
{
    visibility: hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0; left: 0;
    margin-top: 57%;
    width: 80%;
    text-shadow: 0 0 2px 1px black;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
}

#dataContainer > #summary
{
    text-align: center;
}

#dataContainer > #summary > span
{
    display: inline-block;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
    text-align: center;
    overflow-wrap: break-word;
    border: ridge 1px;
}

#dataContainer > #summary > span > span
{
    display: inline-block;
    font-size: 45px;
    font-weight: 600;
    margin-top: 17px;
    text-shadow: none;
}

#dataContainer > #summary > span.win
{
    border-color: rgb(0, 100, 0);
    background: rgb(0, 200, 0); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(0, 200, 0), rgb(0, 170, 0), rgb(0, 200, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(0, 200, 0), rgb(0, 170, 0), rgb(0, 200, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(0, 200, 0), rgb(0, 170, 0), rgb(0, 200, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(0, 200, 0), rgb(0, 170, 0), rgb(0, 200, 0)); /* Standard syntax */
}

#dataContainer > #summary > span.lose
{
    border-color: rgb(100, 0, 0);
    background: rgb(0, 200, 0); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(200, 0, 0), rgb(170, 0, 0), rgb(200, 0, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(200, 0, 0), rgb(170, 0, 0), rgb(200, 0, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(200, 0, 0), rgb(170, 0, 0), rgb(200, 0, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(200, 0, 0), rgb(170, 0, 0), rgb(200, 0, 0)); /* Standard syntax */
}

#dataContainer > #summary > span.oops
{
    border-color: rgb(0, 0, 100);
    background: rgb(0, 0, 200); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(0, 0, 200), rgb(0, 0, 170), rgb(0, 0, 200)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(0, 0, 200), rgb(0, 0, 170), rgb(0, 0, 200)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(0, 0, 200), rgb(0, 0, 170), rgb(0, 0, 200)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(0, 0, 200), rgb(0, 0, 170), rgb(0, 0, 200)); /* Standard syntax */
}

#dataContainer > #summary > span.oops > span
{
    margin-top: 47px;
}

#dataContainer > #summary > p
{
    display: inline-block;
    font-size: 80px;
    width: 160px;
    margin-left: 20px;
    overflow-wrap: break-word;
}

#dataContainer > table
{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-bottom: 40px;
    text-align: center;
}

thead > tr
{
    height: 30px;
    font-size: 15px;
}

.champion
{
    width: 60px;
    padding-left: 30px;
    text-align: left;
}

#blue > thead > tr > .team
{
    color: blue;
    font-weight: 600;
    text-align: left;
    border-left: solid 4px blue;
    padding-left: 10px;
    font-size: 20px;
}

#red > thead > tr > .team
{
    color: red;
    font-weight: 600;
    text-align: left;
    border-left: solid 4px red;
    padding-left: 10px;
    font-size: 20px;
}

.champion > img
{
    width: 60px;
    height: 60px;
}

.summoner
{
    width: 30%;
    text-align: left;
    padding-left: 5px;
}

.rank
{
    width: 8%;
}

.kda, .gold, .minions, .wards
{
    width: 15%;
}

.gold > img
{
    width: 16px;
    margin-right: 2px;
}

.minions > img
{
    width: 22px;
    margin-right: 2px;
}

.wards > img
{
    width: 21px;
    margin-right: 3px;
}