@font-face
{
    font-family: Gothic;
    src: url("/static/fonts/gothic.ttf");
}

body
{
    font-family: Gothic;
    color: white;
    background-color: black;
    background: url('/static/images/back1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 0 0 3px black;
}

#progressContainer
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 600px;
    height: 200px;
    border-radius: 20px;
    padding-top: 10px;
    text-shadow: 0 0 2px 1px black;
    background-color: rgba(0, 0, 0, 0.3);
}

#progressContainer > h1
{
    text-align: center;
    width: 100%;
}

#progressContainer > span
{
    margin-left: 100px;
    width: 400px;
}

#progressContainer > progress
{
    border: none;
    width: 400px;
    height: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
}

#dataContainer
{
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0; left: 0;
    margin-top: 13%;
    width: 600px;
    text-shadow: 0 0 2px 1px black;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
}

#dataContainer > span
{
    display: inline-block;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
    text-align: center;
    overflow-wrap: break-word;
    border: ridge 1px;
}

#dataContainer > span > span
{
    display: inline-block;
    font-size: 45px;
    font-weight: 600;
    margin-top: 17px;
    text-shadow: none;
}

#dataContainer > span.win
{
    border-color: rgb(0, 100, 0);
    background: rgb(0, 200, 0); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(0, 200, 0), rgb(0, 170, 0), rgb(0, 200, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(0, 200, 0), rgb(0, 170, 0), rgb(0, 200, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(0, 200, 0), rgb(0, 170, 0), rgb(0, 200, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(0, 200, 0), rgb(0, 170, 0), rgb(0, 200, 0)); /* Standard syntax */
}

#dataContainer > span.lose
{
    border-color: rgb(100, 0, 0);
    background: rgb(0, 200, 0); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(200, 0, 0), rgb(170, 0, 0), rgb(200, 0, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(200, 0, 0), rgb(170, 0, 0), rgb(200, 0, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(200, 0, 0), rgb(170, 0, 0), rgb(200, 0, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(200, 0, 0), rgb(170, 0, 0), rgb(200, 0, 0)); /* Standard syntax */
}

#dataContainer > span.oops
{
    border-color: rgb(0, 0, 100);
    background: rgb(0, 0, 200); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(0, 0, 200), rgb(0, 0, 170), rgb(0, 0, 200)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(0, 0, 200), rgb(0, 0, 170), rgb(0, 0, 200)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(0, 0, 200), rgb(0, 0, 170), rgb(0, 0, 200)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(0, 0, 200), rgb(0, 0, 170), rgb(0, 0, 200)); /* Standard syntax */
}

#dataContainer > span.oops > span
{
    margin-top: 47px;
}

#dataContainer > p
{
    display: inline-block;
    font-size: 30px;
    width: 400px;
    margin-left: 20px;
    overflow-wrap: break-word;
}

#dataContainer > div
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 20px;
}